$black: #333;
$red: #f24336;
$offwhite: #fafafa;
$spacegrey: #40485a;
$spacegrey-05: rgba($spacegrey, 0.05);
$spacegrey-10: rgba($spacegrey, 0.1);
$spacegrey-20: rgba($spacegrey, 0.2);
$spacegrey-50: rgba($spacegrey, 0.5);
$spacegrey-80: rgba($spacegrey, 0.8);
$white: #fff;
