// picked from https://github.com/callmenick/Animating-Hamburger-Icons

$size: 32px;

.hamburger {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: $size;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-indent: -9999px;
  width: $size;

  &:focus {
    outline: none;
  }

  span {
    top: $size / 2;

    &,
    &::before,
    &::after {
      background-color: $white;
      content: '';
      display: block;
      height: $size / 8;
      left: 0;
      position: absolute;
      right: 0;
      width: 100%;
    }

    & {
      left: 3px;
      right: 3px;
      width: calc(100% - 6px);
    }

    &::before {
      top: -$size / 4;
    }

    &::after {
      bottom: -$size / 4;
    }
  }
}

.hamburger--htx {
  span {
    transition: background 0s 0.3s;

    &::before,
    &::after {
      transition-delay: 0.3s, 0s;
      transition-duration: 0.3s, 0.3s;
    }

    &::before {
      transition-property: top, transform;
    }

    &::after {
      transition-property: bottom, transform;
    }
  }

  &.is-active {
    span {
      background: transparent;

      &::before,
      &::after {
        background-color: $black;
        transition-delay: 0s, 0.3s;
      }

      &::before {
        top: 0;
        transform: rotate(45deg);
      }

      &::after {
        bottom: 0;
        transform: rotate(-45deg);
      }
    }
  }
}
