html {
  height: 100%;
}

body {
  color: $black;
  height: 100%;
  margin: 0;

  & > div {
    &:first-child {
      height: 99%;
    }
  }
}

button,
input,
select,
textarea {
  &:focus {
    outline: none;
  }
}

.stories-common-root {
  border: 1px $spacegrey-20 solid;
  height: 100%;

  .story-list,
  .story-viewer {
    height: 100%;
    overflow: auto;
  }

  .story-list {
    background: $white;
    min-width: 18em;
  }

  .story-viewer {
    $bg-color-viewer: #333;
    background: $bg-color-viewer;

    h3 {
      border-bottom: 1px $spacegrey-10 solid;
      font-size: 1.2em;
      margin: 0;
      padding: 0 0 0.5em;
    }

    .content {
      padding: 1em;
    }

    .box {
      background: $white;
      border: 1px $spacegrey-20 solid;
      border-radius: 5px;
      margin: 2em;
      padding: 1em;
      position: relative;
    }

    .inverse {
      background: $spacegrey-20;
      color: $white;
    }
  }
}

@media (max-width: 640px) {
  .stories-common-root {
    .hamburger {
      left: 5px;
      position: absolute;
      top: 5px;
      transition: right 0.25s ease-in;
      z-index: 2;
    }

    .story-list {
      left: 0;
      position: fixed;
      top: 0;
      transform: translateX(-100%);
      transition: transform 0.25s ease-in-out;
      width: 100%;
      z-index: 1;
    }

    &.is-active {
      .hamburger {
        left: auto;
        right: 5px;
      }

      .story-list {
        transform: translateX(0);
      }
    }
  }
}

@media (min-width: 640px) {
  .stories-common-root {
    display: flex;

    .hamburger {
      display: none;
    }

    .story-viewer {
      flex: 4;
    }

    .story-list {
      flex: 1;
    }
  }
}
