html {
  height: 100%;
}

body {
  color: $black;
  height: 100%;
  margin: 0;

  & > div {
    &:first-child {
      height: 99%;
    }
  }
}

button,
input,
select,
textarea {
  &:focus {
    outline: none;
  }
}

.stories-common-root {
  border: 1px $spacegrey-20 solid;
  display: flex;
  height: 100%;

  .story-list,
  .story-viewer {
    height: 100%;
    overflow: auto;
  }

  .story-list {
    background: $white;
    flex: 1;
    min-width: 18em;
  }

  .story-viewer {
    $bg-color-viewer: #333;
    background: $bg-color-viewer;
    flex: 4;

    h3 {
      border-bottom: 1px $spacegrey-10 solid;
      font-size: 1.2em;
      margin: 0;
      padding: 0 0 0.5em;
    }

    .content {
      padding: 1em;
    }

    .box {
      background: $white;
      border: 1px $spacegrey-20 solid;
      border-radius: 5px;
      margin: 2em;
      padding: 1em;
    }
  }
}
