.sidebar {
  border-right: 1px $spacegrey-20 solid;
  height: 100%;

  h1 {
    border-bottom: 1px $spacegrey-10 solid;
    font-size: 1.2rem;
    margin: 0;
    padding: 1em;
  }

  p {
    line-height: 1.5em;
    padding: 0.5em 1em;
  }

  p,
  .navlink {
    color: $spacegrey-80;
  }

  .group {
    margin-bottom: 1em;

    h2 {
      border-bottom: 1px $spacegrey-10 solid;
      font-size: 1em;
      margin: 0 1em 0.5em;
      padding: 0.5em 0;
    }

    .navlink {
      display: block;
      padding: 0.5em 1.5em;
      text-decoration: none;

      &:hover {
        color: $red;
        cursor: pointer;
      }

      &.active {
        background: $spacegrey-05;
        color: $red;
      }
    }
  }

  .credits {
    border-top: 1px $spacegrey-10 solid;
    display: block;
    font-size: 0.9em;
    margin-top: 1em;
    padding: 1em 0;
    text-align: center;
  }
}
